<div class="container">
    <h3>Available surveys</h3><br>
    <ul class="list-group">
        <li *ngFor="let survey of surveys" routerLink="/survey/{{survey.survey_id}}" class="list-group-item list-group-item-action">
            <div>{{survey.title}}</div>
        </li>
    </ul><br>
    <br>
</div>