<nav class="navbar navbar-expand navbar-light bg-light mb-4">
  <a class="navbar-brand">Task 33</a>
  <ul *ngIf="loggedIn" class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/surveys">Surveys</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
