<div class="container mt-5">
    <form [formGroup]="loginForm">
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" formControlName="username" required
                minlength="3">
        </div>
        <div *ngIf="username.invalid && ( username.dirty || username.touched)">
            <small *ngIf="username.errors.required" class="text-danger">Username is required</small>
            <small *ngIf="username.errors.minlength" class="text-danger">Username should at least be 3
                characters</small>
        </div><br>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password"
                required minlength="6">
        </div>
        <div *ngIf="password.invalid && ( password.dirty || password.touched)">
            <small *ngIf="password.errors.required" class="text-danger">Password is required</small>
            <small *ngIf="password.errors.minlength" class="text-danger">Passworld should at least be 6
                characters</small>
        </div>
        <!-- Your super secret password: {{ loginForm.value.password }} -->
        <br><br>
        <button type="submit" class="btn btn-primary btn-lg mr-2" (click)="onLoginClicked()"
            [disabled]="loginForm.invalid || isLoading">Log
            in</button>
        <button type="button" class="btn btn-default btn-lg" name="link" (click)="onRegisterClicked()">Register new
            account</button>

        <div *ngIf="loginError">
            <br>
            <p class="alert alert-warning">{{ loginError }}</p>
            <br>
        </div>

        <div *ngIf="isLoading">
            <p>Attempting to login...</p>
        </div>
    </form>
</div>