<div class="container">
    <h3>Survey details #{{requestedSurveyId}}</h3><br>

    <table>
        <tbody *ngFor="let item of surveyDetails | keyvalue" class="table">
            <tr>
                <div *ngIf="item.key == 'user'; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <td>Username</td>
                    <td>{{surveyDetails.user.username}}</td>
                </ng-template>
                <ng-template #elseBlock>
                    <td>{{item.key}}</td>
                    <td>{{item.value}}</td>
                </ng-template>
            </tr>

        </tbody>
    </table><br><br>

    <button type="button" class="btn btn-secondary btn-lg" routerLink="/surveys">Close</button>

</div>